@import './fonts';
@import '~normalize.css';
@import './main.scss';

body {
    font-family: 'Roboto';
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}
